@import '../node_modules/jeet/jeet.styl'

body
  width 100%
  background-color lighten(#ededed, 6%)

header
  nav
    ul
      display block
      padding 0
      li
        display block
        text-align center
        padding 0.5rem 0rem
        margin 0

